- extends 'layout/main'
- load custom_filters

- block title
	我的留言

- block center_content
  .messages-list-left
    .section
      %h1 收到的留言
      - if received_messages
        - for message in received_messages
          .row-fluid
            .messages-list-message
              .clearfix
                %a.username.pull-left{href:"{% url sns.views.users.show message.sender.id %}" } 
                  {{ message.sender.username }}:
                .content.pull-left {{message.content|safe|at_users}}
              .clearfix.message-bottom
                .pull-right
                  %span.muted {{ message.created_at|date:"m-d H:i" }}
      - else
        .row-fluid.empty-result
          .offset4.span4.btn.btn-large.disabled 没有更多留言了...

    .section
      %h1 发出的留言
      - if sent_messages
        - for message in sent_messages
          .row-fluid
            .messages-list-message
              .clearfix
                %a.username.pull-left{href:"{% url sns.views.users.show message.sender.id %}" } 
                  {{ message.sender.username }}:
                .content.pull-left {{message.content|safe|at_users}}
              .clearfix.message-bottom
                .pull-right
                  %span.muted {{ message.created_at|date:"m-d H:i" }}
      - else
        .row-fluid.empty-result
          .offset4.span4.btn.btn-large.disabled 没有更多留言了...

- block right_content
  .users-index-right
    .section
      %h5.section-title 搜索好友
      %form.form-inline{action:"{% url sns.views.users.search %}"}
        %input{type:'text',placeholder:'查找好友...',name:'q'}
        %button.btn{type:'submit'} 搜索
    .section
      %h5.section-title 我的粉丝
        (
        %a{'data-toggle':"hudson-modal", href:'javascript:void(0);', title:"我的粉丝", url:"{% url sns.views.users.followers user.id %}"} 查看全部
        )
      - if followers
        {% include "sns/users/_sidebar_list" with users=followers %}
      - else
        .muted 还没有人关注我...    
    .section
      %h5.section-title 我的关注
        (
        %a{'data-toggle':"hudson-modal", href:'javascript:void(0);', title:"我的关注", url:"{% url sns.views.users.followees user.id %}"} 查看全部
        )
      - if followees
        {% include "sns/users/_sidebar_list" with users=followees %}
      - else
        .muted 还没有关注任何人...
    .section
      %h5.section-title 最新注册
      - if latest_users
        {% include "sns/users/_sidebar_list" with users=latest_users %}
      - else
        .muted 还没有任何人注册...
