.brand{
    font-family: 'Molle', cursive;
    margin-top: 3px;
    margin-bottom: -3px;
}

.main-content{
    margin-top: 80px;
}

.main-right-content{
    margin-left: 20px;
}

/* 
 * sns/users/index 
 */
.users-index-left .form-post .post{
    font-size: 20px;
    line-height: 26px;
    padding: 8px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.users-index-left .section-news{
    padding-top: 20px;
}
.users-index-left .section-news h1{
    padding-bottom: 8px;
    margin-bottom: 0;
    border-bottom: 1px solid #E5E5E5;
}
.users-index-left .section-news .post{
    padding: 10px 8px;
    border-bottom: 1px solid #E5E5E5;
}
.users-index-left .section-news{
    font-size: 17px;
    line-height: 26px;
}
.users-index-left .section-news .post .content{
    font-size: 24px;
    line-height: 38px;
}
.users-index-left .section-news .empty-result{
    border-top: 1px solid #E5E5E5;
    padding-top: 20px;
}
.users-index-right .section{
    padding-top: 10px;
    padding-bottom: 5px;
}
.users-index-right .section-title{
    border-bottom: 1px solid #E5E5E5;
}

/*
 * sns/users/search
 */
.users-search-left .empty-result{
    border-top: 1px solid #E5E5E5;
    padding-top: 20px;
}
