/**
 * sns/users/_sidebar_list
 */
.users-sidebar-list li{
    height: 28px;
    line-height: 28px;
}

/**
 * sns/users/_modal_list
 */
.users-modal-list li{
    height: 32px;
    line-height: 28px;
    padding: 2px 3px;
    border-bottom: 1px solid #E5E5E5;
}
.users-modal-list li:last-child{
    border-bottom: none;
}


/* 
 * sns/users/index 
 */
.users-index-left .form-post .post{
    font-size: 20px;
    line-height: 26px;
    padding: 8px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.users-index-left .section-news{
    padding-top: 20px;
}
.users-index-left .section-news h1{
    padding-bottom: 8px;
    margin-bottom: 0;
    border-bottom: 1px solid #E5E5E5;
}
.users-index-right .section{
    padding-top: 10px;
    padding-bottom: 5px;
}
.users-index-right .section-title{
    border-bottom: 1px solid #E5E5E5;
}

/*
 * sns/users/search
 */
.users-search-left .section-news{
    border-top: 1px solid #E5E5E5;
}
.users-search-left .empty-result{
    padding-top: 20px;
}

/*
 * sns/users/show
 */
.users-show-left .users-show-header h1{
    padding-bottom: 8px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E5E5E5;
}
.users-show-left .users-show-header .follow-buttons{
    padding-top: 5px;
}
.users-show-left .form-post .post{
    font-size: 20px;
    line-height: 26px;
    padding: 8px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.users-show-left .section-news{
    padding-top: 20px;
}
.users-show-left .section-news h1{
    padding-bottom: 8px;
    margin-bottom: 0;
    border-bottom: 1px solid #E5E5E5;
}
.users-show-left .section-news{
    font-size: 17px;
    line-height: 26px;
}
.users-show-right .section{
    padding-top: 10px;
    padding-bottom: 5px;
}
.users-show-right .section-title{
    border-bottom: 1px solid #E5E5E5;
}