/ Modal
%div{ 'id': 'followeesModal', 'class': 'modal hide fade', 'tabindex': '-1', 'role': 'dialog', 'aria-labelledby': 'followeesLabel', 'aria-hidden': 'true' }
  %div{ 'class': 'modal-header' }
    %h3{ 'id': 'followeesLabel' }
      我的关注
  %div{ 'class': 'modal-body', 'id':'followeesModalBody' }
  %div{ 'class': 'modal-footer' }
    %button{ 'class': 'btn', 'data-dismiss': 'modal', 'aria-hidden': 'true' }
      关闭

:javascript
	$(function(){
		var user_id = $('#allfollowees').attr('user_id');
		$.getJSON("/users/"+user_id+"/followees",function(data){
			$.each(data,function(idx,item){
				$('#followeesModalBody').append(" <li> <a href= \'/users/" + item.id + "\'> " + item.name + " </a> </li> " );
			});
		});
	});
