/ Modal
%div{ 'id': 'followersModal', 'class': 'modal hide fade', 'tabindex': '-1', 'role': 'dialog', 'aria-labelledby': 'followersLabel', 'aria-hidden': 'true' }
  %div{ 'class': 'modal-header' }
    %h3{ 'id': 'followersLabel' }
      我的粉丝
  %div{ 'class': 'modal-body', 'id':'followersModalBody' }
  %div{ 'class': 'modal-footer' }
    %button{ 'class': 'btn', 'data-dismiss': 'modal', 'aria-hidden': 'true' }
      关闭
:javascript
	$(function(){
		var user_id = $('#allfollowers').attr('user_id')
		$.getJSON("/users/"+user_id+"/followers",function(data){
			$.each(data,function(idx,item){
				$('#followersModalBody').append(" <li> <a href= \'/users/" + item.id + "\'> " + item.name + " </a> </li> " );
			});
		});
	});
