%ul.unstyled.users-sidebar-list
  - for user in users
    %li{class:"user-{{ user.id }}"}
      %a{href:"{% url sns.views.users.show user.id %}" } 
          {{user.username}}
      - if user != request.user
        %a.pull-right.btn.btn-mini.{"data-toggle":"follow-button", followed:"{{user.followed|lower}}", "user-id":"{{user.id}}"} 关注
      :javascript
        $(".users-sidebar-list .user-{{ user.id }}").showSidebarListUser();