- extends 'layout/main'

- block title
  主页

- block center_content
  .users-index-left
    %legend 发布我的新鲜事
    %ul#myPost.nav.nav-pills.nav-post-news
      %li.active
        %a{href:"#normal",data-toggle:"tab"}
          %i.icon-comment
          状态
      %li
        %a{href:"#image",data-toggle:"tab"}
          %i.icon-picture
          图片
      %li
        %a{href:"#video",data-toggle:"tab"}
          %i.icon-facetime-video
          视频
    .tab-content
      #normal.tab-pane.fade.in.active
        %form.form-post
          - csrf_token
          %textarea.post{rows:3,placeholder:'写些什么吧...'}
          %button.btn.btn-primary{type:'submit'} 发布 
      #image.tab-pane.fade
        %form.form-post
          - csrf_token
          %textarea.post{rows:3,placeholder:'描述一下这幅图片吧...'}
          %input.input-xlarge.post-image{type:'text', placeholder:'图片链接'}
          %br
          %button.btn.btn-primary{type:'submit'} 发布 
      #video.tab-pane.fade
        %form.form-post
          - csrf_token
          %textarea.post{rows:3,placeholder:'描述一下这个视频吧...'}
          %input.input-xlarge.post-video{type:'text', placeholder:'视频链接'}
          %br
          %button.btn.btn-primary{type:'submit'} 发布 
    :javascript
      $(".post").atTips()
      $(".form-post").submit(function(){
        var content = $(this).find(".post").val();
        var image_link = $(this).find(".post-image").val();
        var video_link = $(this).find(".post-video").val();
        type = this.parentNode.id
        var error = "";

        if (type=='normal') {
          image_link="";
          video_link="";
        }
        if (type=='image') {
          video_link="";
          if (image_link.length > 200) error = "您输入的图片链接地址太长了。";
          if (image_link.length == 0) error = "请输入您希望发布的图片链接...";
          if (error.length > 0){
            $(this).find(".post-image").tooltip({
              placement: 'top',
              title: error, 
              trigger: "manual",
            }).tooltip("show");
            $(this).find(".post-image").unbind('click keydown').bind('click keydown', function(){
              $(this).tooltip('destroy');
            });
            return false;
          }
        }
        if (type=='video') {
          image_link="";
          if (video_link.length > 200) error = "您输入的视频所在地址太长了。";
          if (video_link.length == 0) error = "请输入您希望发布的视频链接...";
          if (error.length > 0){
            $(this).find(".post-video").tooltip({
              placement: 'top',
              title: error, 
              trigger: "manual",
            }).tooltip("show");
            $(this).find(".post-video").unbind('click keydown').bind('click keydown', function(){
              $(this).tooltip('destroy');
            });
            return false;
          }
        }

        // Common
        if (content.length > 200) error = "您输入的内容太长了。";
        if (content.length == 0) error = "请输入您希望发布的内容...";

        if (error.length > 0){
          $(this).find(".post").tooltip({
            placement: 'top',
            title: error, 
            trigger: "manual",
          }).tooltip("show");
          $(this).find(".post").unbind('click keydown').bind('click keydown', function(){
            $(this).tooltip('destroy');
          });
          return false;
        }
        $(this).find(".btn-primary").addClass("disabled").html("正在发布，请稍后...");
        $.post("/posts", {
          "content": content,
          "image_link": image_link,
          "video_link": video_link,
          "csrfmiddlewaretoken": $(this).find("input[name='csrfmiddlewaretoken']").val()
        }, function(result){
          if (result.status == "ok"){
            window.location.reload();
          }
        });
        return false;
      });
    .section-news
      %h1 新鲜事
      {% include "sns/posts/_appending_list" with posts=posts %}

- block right_content
  .users-index-right
    - if request.user.new_notifications|length
      .section
        %h5.section-title 通知
        .section-news
          %a{href:"{% url sns.views.notifications.index %}"} 
            你有 {{ request.user.new_notifications|length }} 条新通知，点击查看。
    .section
      %h5.section-title 搜索好友
      %form.form-inline{action:"{% url sns.views.users.search %}"}
        %input{type:'text',placeholder:'查找好友...',name:'q'}
        %button.btn{type:'submit'} 搜索
    .section
      %h5.section-title 我的粉丝
        (
        %a{'data-toggle':"hudson-modal", href:'javascript:void(0);', title:"我的粉丝", url:"{% url sns.views.users.followers user.id %}"} 查看全部
        )
      - if followers
        {% include "sns/users/_sidebar_list" with users=followers %}
      - else
        .muted 还没有人关注我...    
    .section
      %h5.section-title 我的关注
        (
        %a{'data-toggle':"hudson-modal", href:'javascript:void(0);', title:"我的关注", url:"{% url sns.views.users.followees user.id %}"} 查看全部
        )
      - if followees
        {% include "sns/users/_sidebar_list" with users=followees %}
      - else
        .muted 还没有关注任何人...
    .section
      %h5.section-title 最新注册
      - if latest_users
        {% include "sns/users/_sidebar_list" with users=latest_users %}
      - else
        .muted 还没有任何人注册...