- extends 'layout/main'

- block title
  主页

- block center_content
  .users-index-left
    %form.form-post
      - csrf_token
      %legend 发布我的新鲜事
      %textarea.post{rows:3,placeholder:'写些什么吧...'}
      %button.btn.btn-primary{type:'submit'} 发布 
    :javascript
      $(".post").atTips()
      $(".form-post").submit(function(){
        var content = $(this).find(".post").val();
        var error = "";
        if (content.length == 0) error = "请输入您希望发布的内容...";
        else if (content.length > 200) error = "您输入的内容太长了。";
        if (error.length > 0){
          $(this).find(".post").tooltip({
            placement: 'top',
            title: error, 
            trigger: "manual",
          }).tooltip("show");
          $(this).find(".post").unbind('click keydown').bind('click keydown', function(){
            $(this).tooltip('destroy');
          });
          return false;
        }
        $(this).find(".btn-primary").addClass("disabled").html("正在发布，请稍后...");
        $.post("/posts", {
          "content": content,
          "csrfmiddlewaretoken": $(this).find("input[name='csrfmiddlewaretoken']").val()
        }, function(result){
          if (result.status == "ok"){
            window.location.reload();
          }
        });
        return false;
      });
    .section-news
      %h1 新鲜事
      {% include "sns/posts/_appending_list" with posts=posts %}

- block right_content
  .users-index-right
    .section
      %h5.section-title 搜索好友
      %form.form-inline{action:"{% url sns.views.users.search %}"}
        %input{type:'text',placeholder:'查找好友...',name:'q'}
        %button.btn{type:'submit'} 搜索
    .section
      %h5.section-title 我的粉丝
        %a{ 'href': '#followersModal', 'data-toggle': 'modal', 'align': 'right' }
          显示全部
      {% include "sns/users/_followers" %}
      - if followers
        %ul.unstyled
          - for follower in followers
            %li
              %a{href:"{% url sns.views.users.show follower.follower.id %}" } 
                  {{follower.follower.username}}
              %small.follow-buttons{followed:"{{follower.followed|lower}}", user_id:"{{follower.follower.id}}"}
                - if follower.follower == request.user
                - else
                  .btn.btn-small.btn-follow.pull-right.followed.hidden
                    %span.not-hover
                      %i.icon-ok
                      已关注
                    %span.hover.hidden
                      %i.icon-white.icon-remove
                      取消关注
                 .btn.btn-primary.btn-small.btn-follow.pull-right.not-followed.hidden
                   %i.icon-white.icon-plus
                   关注
      - else
        .muted 还没有人关注我...    
   .section
      %h5.section-title 我的关注
        %a{ 'href': '#followeesModal', 'data-toggle': 'modal', 'align': 'right' }
          显示全部
      {% include "sns/users/_followees" %}
      - if followees
        %ul.unstyled
          - for followee in followees
            %li
              %a{href:"{% url sns.views.users.show followee.followee.id %}" } 
                {{followee.followee.username}}
              %small.follow-buttons{followed:"{{followee.followed|lower}}", user_id:"{{followee.followee.id}}"}
                - if followee.followee == request.user
                - else
                  .btn.btn-small.btn-follow.pull-right.followed.hidden
                    %span.not-hover
                      %i.icon-ok
                      已关注
                    %span.hover.hidden
                      %i.icon-white.icon-remove
                      取消关注
                 .btn.btn-primary.btn-small.btn-follow.pull-right.not-followed.hidden
                   %i.icon-white.icon-plus
                   关注
      - else
        .muted 还没有关注任何人...
   .section
      %h5.section-title 最新注册
      - if latest_users
        %ul.unstyled
          - for user in latest_users
            %li
              %a{href:"{% url sns.views.users.show user.id %}" } 
                {{user.username}}
              %small.follow-buttons{followed:"{{user.followed|lower}}", user_id:"{{user.id}}"}
                - if user == request.user
                - else
                  .btn.btn-small.btn-follow.pull-right.followed.hidden
                    %span.not-hover
                      %i.icon-ok
                      已关注
                    %span.hover.hidden
                      %i.icon-white.icon-remove
                      取消关注
                 .btn.btn-primary.btn-small.btn-follow.pull-right.not-followed.hidden
                   %i.icon-white.icon-plus
                   关注
      - else
        .muted 还没有任何人注册...
   :javascript
     function showFollowButton(ele){
       ele = $(ele);
       var user_id = ele.attr("user_id");
       if (ele.attr("followed") == "true"){
         ele.find(".not-followed").addClass("hidden");
         ele.find(".followed").removeClass("hidden");
       } else {
         ele.find(".not-followed").removeClass("hidden");
         ele.find(".followed").addClass("hidden");
       }
       ele.find(".followed").unbind('hover').hover(function(){
         var t = $(this);
         t.find(".not-hover").addClass("hidden");
         t.find(".hover").removeClass("hidden");
         t.addClass("btn-danger");
       }, function(){
         var t = $(this);
         t.find(".not-hover").removeClass("hidden");
         t.find(".hover").addClass("hidden");
         t.removeClass("btn-danger");
       });
       ele.find(".followed").unbind('click').click(function(){
         $.get("/users/" + user_id + "/unfollow");
         ele.attr("followed", "false");
         showFollowButton(ele);
       });
       ele.find(".not-followed").unbind('click').click(function(){
         $.get("/users/" + user_id + "/follow");
         ele.attr("followed", "true");
         showFollowButton(ele);
       });
     }
     $(".follow-buttons").each(function(){ showFollowButton(this); });

