- extends 'layout/main'

- block title
  主页

- block left_content
  .users-index-left
    %form.form-post
      - csrf_token
      %legend 发布我的新鲜事
      %textarea.post{rows:3,placeholder:'写些什么吧...'}
      %button.btn.btn-primary{type:'submit'} 发布 
    :javascript
      $(".form-post").submit(function(){
        var content = $(this).find(".post").val();
        var error = "";
        if (content.length == 0) error = "请输入您希望发布的内容...";
        else if (content.length > 200) error = "您输入的内容太长了。";
        if (error.length > 0){
          $(this).find(".post").tooltip({
            placement: 'top',
            title: error, 
            trigger: "manual",
          }).tooltip("show");
          $(this).find(".post").unbind('click keydown').bind('click keydown', function(){
            $(this).tooltip('destroy');
          });
          return false;
        }
        $(this).find(".btn-primary").addClass("disabled").html("正在发布，请稍后...");
        $.post("/posts", {
          "content": content,
          "csrfmiddlewaretoken": $(this).find("input[name='csrfmiddlewaretoken']").val()
        }, function(result){
          if (result.status == "ok"){
            window.location.reload();
          }
        });
        return false;
      });
    .section-news
      %h1 新鲜事
      - if posts
        - for post in posts 
          .post
            .clearfix
              %a.pull-left ={post.user.username}
              .muted.pull-right {{ post.created_at|date:"m-d H:i" }}
            .clearfix
              .content.pull-left ={post.content}
              .like-buttons.pull-right{liked:"{{post.liked|lower}}", post_id:"{{post.id}}"}
                .btn.btn-small.btn-like.pull-right.liked.hidden
                  %span.not-hover
                    %i.icon-ok
                    已收藏
                  %span.hover.hidden
                    %i.icon-white.icon-remove
                    取消收藏
                .btn.btn-primary.btn-small.btn-like.pull-right.not-liked.hidden
                  %i.icon-white.icon-plus
                  收藏

      - else
        .row-fluid.empty-result
          .offset4.span4.btn.btn-large.disabled 没有更多新鲜事了...

- block right_content
  .users-index-right
    .section
      %h5.section-title 搜索好友
      %form.form-inline{action:"{% url sns.views.users.search %}"}
        %input{type:'text',placeholder:'查找好友...',name:'q'}
        %button.btn{type:'submit'} 搜索
    .section
      %h5.section-title 我的粉丝
      - if followers
        %ul.unstyled
          - for follower in followers
            %li ={follower.follower.username}
      - else
        .muted 还没有人关注我...
    .section
      %h5.section-title 我的关注
      - if followees
        %ul.unstyled
          - for followee in followees
            %li ={followee.followee.username}
      - else
        .muted 还没有关注任何人...
    .section
      %h5.section-title 最新注册
      - if latest_users
        %ul.unstyled
          - for user in latest_users
            %li ={user.username}
      - else
        .muted 还没有任何人注册...

    :javascript
      function showLikeButton(ele){
        ele = $(ele);
        var post_id = ele.attr("post_id");
        if (ele.attr("liked") == "true"){
          ele.find(".not-liked").addClass("hidden");
          ele.find(".liked").removeClass("hidden");
        } else {
          ele.find(".not-liked").removeClass("hidden");
          ele.find(".liked").addClass("hidden");
        }
        ele.find(".liked").hover(function(){
          var t = $(this);
          t.find(".not-hover").addClass("hidden");
          t.find(".hover").removeClass("hidden");
          t.addClass("btn-danger");
        }, function(){
          var t = $(this);
          t.find(".not-hover").removeClass("hidden");
          t.find(".hover").addClass("hidden");
          t.removeClass("btn-danger");
        });
        ele.find(".liked").unbind('click').click(function(){
          $.get("/posts/" + post_id + "/unlike");
          ele.attr("liked", "false");
          showLikeButton(ele);
        });
        ele.find(".not-liked").unbind('click').click(function(){
          $.get("/posts/" + post_id + "/like");
          ele.attr("liked", "true");
          showLikeButton(ele);
        });
      }
      $(".like-buttons").each(function(){ showLikeButton(this); });
