- extends 'layout/main'

- block title
  ={user.username} 

- block center_content
  .users-show-left
    .users-show-header
      %h1 
        ={user.username} 的个人主页
        %small.pull-right.follow-buttons{followed:"{{user.followed|lower}}", user_id:"{{user.id}}"}
          - if user == request.user
          - else 
            .btn.btn-follow.followed.hidden
              %span.not-hover
                %i.icon-ok
                已关注
              %span.hover.hidden
                %i.icon-white.icon-remove
                取消关注
            .btn.btn-primary.btn-follow.not-followed.hidden
              %i.icon-white.icon-plus
              关注
    %form.form-post
      - csrf_token
      %textarea.post{rows:3,placeholder:'给他留言...'}
      %button.btn.btn-primary{type:'submit'} 发布 
    :javascript
      $(".form-post").submit(function(){
        var content = $(this).find(".post").val();
        var error = "";
        if (content.length == 0) error = "请输入您希望发布的内容...";
        else if (content.length > 200) error = "您输入的内容太长了。";
        if (error.length > 0){
          $(this).find(".post").tooltip({
            placement: 'top',
            title: error, 
            trigger: "manual",
          }).tooltip("show");
          $(this).find(".post").unbind('click keydown').bind('click keydown', function(){
            $(this).tooltip('destroy');
          });
          return false;
        }
        $(this).find(".btn-primary").addClass("disabled").html("正在发布，请稍后...");
        $.post("/messages", {
          "content": content,
          "receiver": useer_id,
          "csrfmiddlewaretoken": $(this).find("input[name='csrfmiddlewaretoken']").val()
        }, function(result){
          if (result.status == "ok"){
            window.location.reload();
          }
        });
        return false;
      });
    .section-news
      %h1 他的新鲜事
      {% include "sns/posts/_appending_list" with posts=posts %}

- block right_content
  .users-index-right
    .section
      %h5.section-title 他的粉丝
      - if followers
        {% include "sns/users/_sidebar_list" with users=followers %}
      - else
        .muted 还没有人关注他...
    .section
      %h5.section-title 他的关注
      - if followees
        {% include "sns/users/_sidebar_list" with users=followees %}
      - else
        .muted 他还没有关注任何人...