- load custom_filters

- for post in posts
  .posts-list-post{class:"post-{{ post.id }}"}
    .clearfix
      %a.username.pull-left{href:"{% url sns.views.users.show post.user.id %}" } 
        {{ post.user.username }}
    .clearfix
      .content {{ post.content|at_users }}
      - if post.original
        .original{"post-id":"{{post.original.id}}"}
          %b.original-username {{ post.original.user.username }}
          %b :&nbsp
          %span.original-content {{ post.original.content|at_users }}
    .clearfix.post-bottom
      .pull-left{style:"display:inline"}
        %span.post-tags{"data-bind":'template:{ foreach:tags, name:"tags-template"}'}
          - for tag in post.tags_list
            %span.label {{tag.content}}({{tag.count}})
        %script#tags-template{"type":"text/html"}
          %span.label{"data-bind":"text:content"}
      .pull-right{style:"display:inline"}
        %span.add-tag.dropdown
          %a.user-tag.dropdown-toggle{href:"javascript:void(0);", "data-toggle":"dropdown","data-bind":"text:user_tag"} 
            - if post.user_tag
              标签:{{post.user_tag}}
            - else
              加标签
          %ul.dropdown-menu
            - csrf_token
            - for tag in post.VALID_TAGS
              %li
                %a{"data-toggle":"tag-link", href:"javascript:void(0);", "post-id":"{{post.id}}"}
                  {{tag}}
        %span.muted ·    
        - if post.original
          %a{"data-toggle":"repost-link", href:"javascript:void(0);", "post-id":"{{post.original.id}}"} 转发
        - else
          %a{"data-toggle":"repost-link", href:"javascript:void(0);", "post-id":"{{post.id}}"} 转发
        %span.muted ·
        %a{"data-toggle":"comments-link", href:"javascript:void(0);", "post-id":"{{post.id}}"}
          回复({{ post.comments_count }})
        %span.muted ·
        %a.muted.btn-like{href:"{% url sns.views.posts.show post.id %}"} 详情
        %span.muted ·
        %a{"data-toggle":"like-link", href:"javascript:void(0);", liked:"{{post.liked|lower}}", "post-id":"{{post.id}}"} 收藏
        %span.muted ·
        %span.muted {{ post.created_at|date:"m-d H:i" }}
    .clearfix.comments
      .comments-list{"data-bind":'template:{ foreach:comments, name:"comments-template" }'}
      %script#comments-template{"type":"text/html"}
        .comment.clearfix
          %span{"data-bind":"html:content"}
          %span -
          %a{"data-bind":'text:user.username, attr:{href:"/users/" + user_id + "/"}'}
          %span.muted{"data-bind":'text:new Date(created_at).format("mm-dd HH:MM")'}
      %form.form-inline.form-reply{"post-id":"{{post.id}}"}
        - csrf_token
        %input.input-xlarge.reply{type:'text', placeholder:'评论...'}
        %button.btn.btn-primary{type:'submit'} 评论
    :javascript
      $(".post-{{ post.id }}").showListPost();
    

