- load custom_filters

- for post in posts
  .posts-list-post{class:"post-{{ post.id }}"}
    .clearfix
      %a.pull-left{href:"{% url sns.views.users.show post.user.id %}" } 
        {{ post.user.username }}
    .clearfix
      .content.pull-left {{post.content|at_users}}
    .clearfix.post-bottom
      .pull-right
        %a{"data-toggle":"comments-link", href:"javascript:void(0);", "post-id":"{{post.id}}"}
          回复({{ post.comments_count }})
        %span.muted ·
        %a.muted.btn-like{href:"{% url sns.views.posts.show post.id %}"} 详情
        %span.muted ·
        %a{"data-toggle":"like-link", href:"javascript:void(0);", liked:"{{post.liked|lower}}", "post-id":"{{post.id}}"} 收藏
        %span.muted ·
        %span.muted {{ post.created_at|date:"m-d H:i" }}  
    .clearfix.comments
      .comments-list
      %form.form-post{"post-id":"{{post.id}}"}
        - csrf_token
        %textarea.post{rows:1,placeholder:'评论...'}
        %button.btn.btn-primary{type:'submit'} 评论
    :javascript
      $(".post-{{ post.id }}").showListPost();