- extends 'layout/main'

- block title
  我的收藏

- block center_content
  .users-liked-left
    .section-liked
      %h1 收藏
      - if posts
        {% include "sns/posts/_list" with posts=posts %}
      - else
        .row-fluid.empty-result
          .offset4.span4.btn.btn-large.disabled 没有更多已收藏的内容了...

