- extends 'layout/main'

- block title
  我的收藏

- block left_content
  .users-liked-left
    %form.form-post
      - csrf_token
      %legend 发布我的新鲜事
      %textarea.post{rows:3,placeholder:'写些什么吧...'}
      %button.btn.btn-primary{type:'submit'} 发布 
    :javascript
      $(".form-post").submit(function(){
        var content = $(this).find(".post").val();
        var error = "";
        if (content.length == 0) error = "请输入您希望发布的内容...";
        else if (content.length > 200) error = "您输入的内容太长了。";
        if (error.length > 0){
          $(this).find(".post").tooltip({
            placement: 'top',
            title: error, 
            trigger: "manual",
          }).tooltip("show");
          $(this).find(".post").unbind('click keydown').bind('click keydown', function(){
            $(this).tooltip('destroy');
          });
          return false;
        }
        $(this).find(".btn-primary").addClass("disabled").html("正在发布，请稍后...");
        $.post("/posts", {
          "content": content,
          "csrfmiddlewaretoken": $(this).find("input[name='csrfmiddlewaretoken']").val()
        }, function(result){
          if (result.status == "ok"){
            window.location.reload();
          }
        });
        return false;
      });
    .section-liked
      %h1 收藏
      - if posts
        {% include "sns/posts/_list" with posts=posts %}
      - else
        .row-fluid.empty-result
          .offset4.span4.btn.btn-large.disabled 没有更多已收藏的内容了...

- block right_content
  .users-index-right
    .section
      %h5.section-title 搜索好友
      %form.form-inline{action:"{% url sns.views.users.search %}"}
        %input{type:'text',placeholder:'查找好友...',name:'q'}
        %button.btn{type:'submit'} 搜索
    .section
      %h5.section-title 我的粉丝
      - if followers
        %ul.unstyled
          - for follower in followers
            %li
              %a{href:"{% url sns.views.users.show follower.follower.id %}" } 
                {{follower.follower.username}}
      - else
        .muted 还没有人关注我...
    .section
      %h5.section-title 我的关注
      - if followees
        %ul.unstyled
          - for followee in followees
            %li
              %a{href:"{% url sns.views.users.show followee.followee.id %}" } 
                {{followee.followee.username}}
      - else
        .muted 还没有关注任何人...
    .section
      %h5.section-title 最新注册
      - if latest_users
        %ul.unstyled
          - for user in latest_users
            %li
              %a{href:"{% url sns.views.users.show user.id %}" } 
                {{user.username}}
      - else
        .muted 还没有任何人注册...