- extends "layout/single_column"

- block title
  {{post.user.username}}: {{post.content}}

- block content
  .row-fluid
    .posts-show-post
      .clearfix.post-top
        %a.pull-left ={post.user.username} 
      .clearfix
        .content.pull-left ={post.content}
      .clearfix.post-bottom
        %span.muted {{ post.created_at|date:"m-d H:i" }}

