- extends "layout/single_column"
- load custom_filters

- block title
  {{post.user.username}}: {{post.content}}

- block content
  .row-fluid
    .posts-show-post{class:"post-{{ post.id }}"}
      .clearfix.post-top
        %a.pull-left{href:"{% url sns.views.users.show post.user.id %}" } 
        	{{ post.user.username }}
      .clearfix
        .content.pull-left {{post.content|at_users}}
      .clearfix.post-bottom
        %span.muted {{ post.created_at|date:"m-d H:i" }}
        %span.muted ·
        %a{"data-toggle":"like-link", href:"javascript:void(0);", liked:"{{post.liked|lower}}", "post-id":"{{post.id}}"} 收藏
      :javascript
      	$(".post-{{ post.id }}").showSinglePost();
