- extends "layout/login_signup"

- block title
  注册

- block content
  .span8.offset2
    .page-header
      %h1 注册
    %form.form-horizontal{action:"{% url sns.views.users.signup %}", method:"post"}
      - csrf_token
      - for field in form
        .control-group{class:"{% if field.errors %}error{% endif %}"}
          %label.control-label ={field.label}
          .controls
            ={field}
            - if field.errors
              %span.help-inline= field.errors.as_text
      .form-actions
        %button.btn.btn-large.btn-primary{type:'submit'} 注&nbsp;&nbsp;册
        %a.btn.btn-large{type:'submit', href:"{% url sns.views.users.login %}"} 返回登录
