- extends "layout/site"

- block site_content
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        %a.brand{href:'/'} Hudson 
  .container.main-content
    - block content
