- extends 'layout/site'
- load custom_filters

- block site_content
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        %a.brand{href:'/'} Hudson
        .nav-collapse
          %ul.nav
            %li
              %a{href:'/'} 主页
            %li
              %a{href:"{% url sns.views.users.show request.user.id %}"} 个人主页
            %li
              %a{href:"{% url sns.views.posts.liked %}"} 我的收藏
          %ul.nav.pull-right
            %li.divider-vertical
            %li.dropdown
              %a.dropdown-toggle{href:"javascript:void(0);", "data-toggle":"dropdown"}
                通知 ({{ request.user.new_notifications|length }})
              %ul.dropdown-menu.main-list-notification
                - if request.user.new_notifications
                  - for notification in request.user.new_notifications
                    %li.notification
                      .content {{notification.content|safe|at_users}}
                  %li.divider
                %li
                  %a.content{href:"{% url sns.views.notifications.index %}"}
                    查看更多通知
            %li.divider-vertical
            %li.dropdown
              %a.dropdown-toggle{href:"javascript:void(0);", "data-toggle":"dropdown"}
                {{ request.user.username }}
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{href:"{% url sns.views.users.edit request.user.id %}"} 
                    %i.icon-edit
                    编辑资料
                %li.divider
                %li
                  %a{href:"{% url sns.views.users.logout %}"}
                    %i.icon-remove
                    登出
          %form.navbar-search.pull-right{action: "{% url sns.views.posts.search %}"}
            %input.search-query{type:"text", name:"q", placeholder:"搜索新鲜事..."}
  .container.main-content
    .row
      .span8.main-center-content-wrap
        .main-center-content
          - block center_content
      .span4.main-right-content-wrap
        .main-right-content
          - block right_content
