- extends 'layout/site'

- block site_content
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        %a.brand{href:'/'} Hudson
        .nav-collapse.collapse.pull-right
          %ul.nav
            %li
              %a 欢迎，={ request.user.username }！
            %li
              %a{href:"{% url sns.views.users.logout %}"} 登出
  .container.main-content
    .row
      .span8.main-left-content
        - block left_content
      .span4.main-right-content-wrap
        .main-right-content
          - block right_content
